<div>
    <form [formGroup]="FormCarData" (ngSubmit)="addData()">
        <mat-form-field appearance="fill">
            <mat-label>Model</mat-label>
            <input matInput placeholder="Ford" formControlName="model" id="test" required>
            <mat-error *ngIf="FormCarData.invalid">{{getErrorMessageModel()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Count</mat-label>
            <input matInput placeholder="Ford" formControlName="count" required>
            <mat-error *ngIf="FormCarData.invalid">{{getErrorMessageCount()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>changeQuantityPercent</mat-label>
            <input matInput placeholder="Ford" formControlName="changeQuantityPercent" required>
            <mat-error *ngIf="FormCarData.invalid">{{getErrorMessageChangeQuantityPercent()}}</mat-error>
        </mat-form-field>
        <div>
            <button mat-flat-button type="submit" class="btn-submit" type="submit" [disabled]="!FormCarData.valid">Enroll Country</button>
        </div>
    </form>

</div>

<div class="demo-button-container">
    <button mat-raised-button [disabled]="!dataSource" (click)="removeData()" class="demo-button">
      Remove data
    </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>rank</th>
        <td mat-cell *matCellDef="let element">{{element.rank}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let element">{{element.model}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{element.count}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="changeQuantityPercent">
        <th mat-header-cell *matHeaderCellDef>changeQuantityPercent</th>
        <td mat-cell *matCellDef="let element">{{element.changeQuantityPercent}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>